[submodule "src/man-pages"]
	path = src/man-pages
	url = https://github.com/alejandro-colomar/man-pages.git
[submodule "src/man-pages-posix"]
	path = src/man-pages-posix
	url = git://git.kernel.org/pub/scm/docs/man-pages/man-pages-posix.git
